*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* NavBar-Styling */

ul{
    margin-bottom: 0px;
}
body{
    overflow-x: hidden;
}

.my-navbar{
    width: 100%;
    position: fixed;
    top: 0px;
    background: #000000a3;
    z-index: 100;
}
.my-navbar ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    padding-left: 5vw;
    display: inline-flex;
}

.my-navbar ul li {
    padding: 0 20px;
    
}


.my-navbar ul li a{
    color: whitesmoke;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    transition: all 0.5s;
}

.my-navbar ul li a:hover{
    color:#ff0000;
}

.my-navbar h2{
    display: inline-block;
    color: chartreuse;
    height: fit-content;
    margin: 14px 30px;
    font-family: 'Lobster', cursive;
}


/* Hero-Section Styling */

.heroSection{
    height: 90vh;
    width: 100vw;
    background-image:url("./bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -4rem;
    z-index:-2;
    position: relative;
}

.main{
    font-family: 'Courgette', cursive;
    padding: 16rem 8rem;
    color: whitesmoke;
}
.main h3{
    font-weight: 100;
    display: inline-block;
    font-size: 3rem;
    padding: 0px;
    color:#b3f72d;
    text-shadow: 2px 2px black;
}

.main h1{
    font-weight: 100;
    display: inline-block;
    padding-left:1rem;
    font-size: 4rem;
    color: #ff0000;
    text-shadow: 2px 2px black;
}

.main P{
    margin-top: -20px;
    font-size: 2rem;
}

.main h2{
    font-weight: 100;
    font-size: 3rem;
    margin-top: -1.2rem;
    color: #b3f72d;
    text-shadow: 2px 2px 3px black;
}

/* RecipeSection */

.recipe-box{
    padding-top: 70px;
    margin-top: -140px;
}

.search{
    background-color: #f7dcb9e6;
    width: 85%;
    margin:0px auto;
    height: auto;
    min-height: 500px;
    padding-top: 50px;
    border-radius: 15px;
    
}

.search-form{
    margin: auto;
    width: 70%;
    height: 3rem;
    padding: 6px  10px;
    position: relative;
    border-radius: 10px;
    box-shadow: 2px 2px 7px black;
}

.search-bar{
    width: 85%;
    padding: 2px 15px;
    height: 100%;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    outline: none;
}
.search-form button{
    position: absolute;
    border-radius: 8px;
    width: 10%;
    right: 18px;
    height: 76%;
    border: none;
    font-size: 16px;
    color: red;
    font-family: 'Open Sans', sans-serif;
    transition: all 0.3s;
}


.search-form button:hover{
    color: white;
    background: rgb(255, 88, 88);
}

.item-recipe{
    background-color: #fff;
    box-shadow: 0 2px 5px #ccc;
    border-radius: 8px;
    padding: 10px;
    width: 80%;
    margin: 50px auto;
    box-shadow: 2px 2px 7px black;
    
}

.main-info{
    position: relative;
    background-color:#f5e5d2;
    padding: 9px;
    display: flex;

}
.main-info img{
    height: 120px;
    width: 120px;
    border-radius: 10px;
    box-shadow: 2px 2px 8px black;
    z-index: 0;
    
}

.title{
    font-size: 20px;
    font-weight: 700;
    text-shadow: #0000005b;
    color: red;
    font-family: 'Prompt', sans-serif;
    margin: 32px;
    padding: 10px;
    font-family: 'Courgette', cursive;

    text-align: center;
}

.sub-info{
    color: #a86d00;
    font-family: 'Poppins', sans-serif;
    display: flex;
}

.sub-info span{
    font-weight: 700;
    padding-top: 46px;
    text-align: center;
}

.ingredients{
    margin-top: 10px;
    padding: 25px;
    border-radius: 10px;
    font-family: 'Ubuntu', sans-serif;
    background: #f5e5d2;
    color: #454545;
}
.ingredients ol{
    list-style: none;
}

/* About */
.about{
    margin-top: 6rem;
    text-align: center;
    padding-bottom: 50px;
}

.about h1{
    color: red;
    margin-top: 10px;
    font-family: 'Open Sans';
    font-size: 40px;
    text-shadow: 1px 1px 2px black;
}

.about hr{
    box-shadow: 1px 1px 2px black;
    border: 1px solid red;
}

.about p{
    padding: 15px 100px 0px 100px;
    color: brown;
    font-family: "poppins";
}



/* Media  query */

@media only screen and (max-width:900px){
    .sub-info{
        flex-direction: column;
        margin: 0px auto;
    }

    .sub-info span{
        padding:0px;
    }

    .title{
        margin: 10px 0px;
        padding-left: 20px;
    }
}


@media only screen and (max-width:740px) {
    .main{
        padding: 10rem 8rem;
    }
    .main h1{
        padding-left: 0px;
        margin-top: -26px;
    }

    .heroSection{
        height: 70vh;
    }

    .about p{
        padding: 15px 70px;
    }
    .small-button{
        display: block;
        margin-top: -36px;
    }

    .big-button{
        display: none;
    }
}

@media only screen and (max-width:579px) {
    .main-info{
        flex-direction: column;
    }

    .title{
        padding: 5px;
        margin: 0px auto;
    }
    .sub-info span{
        margin: 0px auto ;
        padding: 0px;
    }

    .main-info img{
        /* width: 90%; */
        margin: 10px auto;
    }

    .my-navbar ul{
        padding-left:0px;
    } 
    .my-navbar ul li{
        padding-left: 5px;
    }

    .about p{
        padding: 15px 50px 0px;
    }
    .search-form button{
        width: 12%;
        right:10px ;
    }

}

@media only screen and (max-width:482px) {
   
    .my-navbar ul{
        padding:0 0 10px 17px ;
    }

    .my-navbar ul li{
        padding-left: 10px;
    }

    .my-navbar h2{
      margin: 14px 30px 5px ;
    }

    .main{
        padding: 10rem 5rem;
    }

    .search{
        width: 95%;
        margin: 20px auto;
        padding-top: 25px;
    }

    .ingredients{
        padding: 10px;
    }
   
}


@media only screen and (max-width:382px){
    .main{
        padding-left: 3.5rem;
    }
}


